<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <h1>Folder upload</h1>
    <link rel="stylesheet" href="/css/styles.css">
  </head>

  <body>

    <form action="/home" method="post">

    <label for="folder">Select folder</label>
    <input type="file" id="folder" name="filename" webkitdirectory multiple/>
    <h2>Selected Files</h2>

    <ul>
    </ul>

    <button type="submit">Confirm</button>

    <!-- <button id="select-folder">Choose Folder</button>
  <p id="selected-folder"></p>
  <button id="confirm-folder" disabled>Confirm</button> -->


</form>

    <script src="/js/permission.js" charset="utf-8"></script>

      </body>

    </html>